body {
    overflow-x: hidden;
}

.menu li {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

ul {
    position: relative;
    bottom: 16px;
    height: 75px;
    text-align: center;
    background: #004403;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.entre {
    background-color: #0e8100;
    border: 2px solid #0e8100;
    border-radius: 10px;
}

.cadastrar {
    background-color: #0e8100;
    border: 2px solid #0e8100;
    border-radius: 10px;
}

.cadastro {
    left: 255px;
}

.entrar {
    left: 260px;
}
.banner{
    position: relative;
    bottom: 32px;
}

.autore{
    position: relative;
    top: 75px;
    left: 529px;
}
.autores{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
    line-height: 44px;
    color: #004403;
    position: relative;
    top: 32px;
    left: 534px;
}
.li-autor{
    display: inline-block;
    margin-right: 79px;
    right: 331px;
    top: 47px;
    position: relative;
    transition: transform 0.2s ease-in-out; 
}
.autor-prin{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #004403;
    text-align: center;
}
.dedicatoria {
    top: 190px;
    position: relative;
    margin: 55px;
    color: green;  
    font-size: 17px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 16px;
    background: #e7ffd7;
    transition: transform 0.2s ease-in-out; 
  }
  
  .dedicatoria:hover, .li-autor:hover {
    transform: scale(1.05); 
    border-color: #2E8B57;
  }
.jhon{
    position: relative;
    left: 12px;
}
.beth{
    position: relative;
    left: 55px;
    bottom: 20px;
}
.igor{
    position: relative;
    left: 72px;
}
.icons{
    list-style-type: none;
    position: relative;
    top: 379px;
    height: 150px;
    background: #C9C9C9;
}
.maior{
    width: 207px;
    position: relative;
    left: 70px;
}
.li-ro{
    position: relative;
    left: 15px;
    padding: 3px;
}
.texto-roda{
    position: relative;
    top: 243px;
    left: 533px;
}
.ul-roda{
    background: transparent;
}
.i-ro{
   width: 191px;
   text-align: initial;
}
.maior-texto{
    width: 361px;
    bottom: 13px;
    position: relative;
}
.img-pagamento{
    top: 75px;
    position: relative;
    width: 153px;
    left: 1028px;
}
.pag{
    width: 123px;
}