body {
    overflow-x: hidden;
}

.menu li {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

ul {
    position: relative;
    bottom: 16px;
    height: 75px;
    text-align: center;
    background: #004403;
}

a {
    color: #ffffff;
    text-decoration: none;
}
.entre {
    background-color: #0e8100;
    border: 2px solid #0e8100;
    border-radius: 10px;
}

.cadastrar {
    background-color: #0e8100;
    border: 2px solid #0e8100;
    border-radius: 10px;
}

.cadastro {
    left: 255px;
}

.entrar {
    left: 260px;
}
.banner{
    position: relative;
    bottom: 32px;
}
.form{
    position: relative;
    left: 470px;
}
.botao{
    position: relative;
    left: 181px;
    top: 168px;
    width: 70px;
    height: 25px;
    font-size: 17px;
    color: #004403;
    background: rgba(165, 214, 167, 0.34);
    border: 1px solid transparent;
}


.campo{
    position: relative;
    right: 247px;
    top: 96px;
    color: #004403;

}
.campo-comentario{
    position: relative;
    top: 73px;
    right: 246px;
}
.comentario{
    position: relative;
    right: 151px;
    color: #004403;

}
.email{
    position: relative;
    left: 1px;
    top: 70px;
}
.senha{
    position: relative;
    top: 125px;
}
.name{
    position: relative;
    right: 245px;
    top: 45px;
}
.name-text{
    position: relative;
    top: 25px;
    right: 151px;
    color: #004403;

}
.text-email{
    position: relative;
    bottom: 29px;
    left: 74px;
    color: #004403;
    font-family: 'Fredoka';
    font-size: 18px;
}
.text-senha{
    position: relative;
    bottom: 30px;
    left: 75px;
    color: #004403;
    font-family: 'Fredoka';
    font-size: 18px;
}
input{
    border: 1px solid #004e04;
    border-radius: 8px; 
    height: 24px;
}
.text-form{
    position: relative;
    left: 21px;
    color: #004403;
    font-family: 'Fredoka';
    font-size: 30px;
}

.icons{
    list-style-type: none;
    position: relative;
    top: 379px;
    height: 150px;
    background: #C9C9C9;
}
.maior{
    width: 207px;
    position: relative;
    left: 70px;
}
.li-ro{
    position: relative;
    left: 15px;
    padding: 3px;
}
.texto-roda{
    position: relative;
    top: 243px;
    left: 533px;
}
.ul-roda{
    background: transparent;
}
.i-ro{
   width: 191px;
   text-align: initial;
}
.maior-texto{
    width: 361px;
    bottom: 13px;
    position: relative;
}
.img-pagamento{
    top: 75px;
    position: relative;
    width: 153px;
    left: 1028px;
}
.pag{
    width: 123px;
}
.rodape{
    position: relative;
    bottom: 160px;
}

