body {
    overflow-x: hidden; 
}

.menu li {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

ul {
    position: relative;
    bottom: 16px;
    height: 75px;
    text-align: center;
    background: #004403;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.entre {
    background-color: #0e8100;
    border: 2px solid #0e8100;
    border-radius: 10px;
}

.cadastrar {
    background-color: #0e8100;
    border: 2px solid #0e8100;
    border-radius: 10px;
}

.cadastro {
    left: 255px;
}

.entrar {
    left: 260px;
}

.banner {
    position: relative;
    bottom: 33px;
}
.desconto{
    position: relative;
    left: 42px;
}
.icons{
    list-style-type: none;
    position: relative;
    top: 379px;
    height: 150px;
    background: #C9C9C9;
}
.maior{
    width: 207px;
    position: relative;
    left: 70px;
}
.li-ro{
    position: relative;
    left: 15px;
    padding: 3px;
}
.texto-roda{
    position: relative;
    top: 243px;
    left: 533px;
}
.ul-roda{
    background: transparent;
}
.i-ro{
   width: 191px;
   text-align: initial;
}
.maior-texto{
    width: 361px;
    bottom: 13px;
    position: relative;
}
.img-pagamento{
    top: 75px;
    position: relative;
    width: 153px;
    left: 1028px;
}
.pag{
    width: 123px;
}
.rodape{
    position: relative;
    bottom: 160px;
}

h2{
    position: relative;
    left: 610px;
}
p{
    margin: 35px;
    font-family: arial;
    font-size: 17px;
    color: #004403;
}
.image1{
    position: relative;
    bottom: 139px;
    left: 845px;
    border: 3px solid green;
    border-radius: 12px;
    width: 275px;
    height: 183px;
}